@using Tradibit.SharedUI.DTO

<h3>Total % P/L: </h3>
<RadzenText TextStyle="TextStyle.Overline" Class="rz-color-primary-light d-flex mt-3 mb-0">Total % P/L</RadzenText>
<RadzenText TextStyle="TextStyle.Body1"><b>@(Stat?.TotalProfitLossPercent)</b></RadzenText>

<RadzenText TextStyle="TextStyle.Overline" Class="rz-color-primary-light d-flex mt-3 mb-0">Total P/L</RadzenText>
<RadzenText TextStyle="TextStyle.Body1"><b>@(Stat?.TotalProfitLoss)</b></RadzenText>

<RadzenText TextStyle="TextStyle.Overline" Class="rz-color-primary-light d-flex mt-3 mb-0">Total Active Time</RadzenText>
<RadzenText TextStyle="TextStyle.Body1"><b>@(Stat?.TotalActiveTime)</b></RadzenText>

@code {
    
    [Parameter]
    public ProfitLossStat? Stat { get; set; }
}