@using Tradibit.Common.DTO.Dashboard
<h3>User Funds</h3>
<RadzenChart></RadzenChart>
<Scorecard Stat="UserDashboard.UserStat"></Scorecard>

@code {
    [Parameter]
    public UserDashboard UserDashboard { get; set; }
}