@using Tradibit.Common.DTO.Dashboard
@using Tradibit.Common.DTO
<h3>User Funds</h3>
<RadzenChart></RadzenChart>
<Scorecard Stat="UserStat"></Scorecard>

@code {
    
    [Parameter]
    public List<TimeValue>? UserFunds { get; set; }
    
    [Parameter]
    public ProfitLossStat? UserStat { get; set; }
}